[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
todoist-python = "*"
requests = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
sqlalchemy = "*"
"jinja2" = "*"
"urllib3" = "*"
gunicorn = "*"
"psycopg2" = "*"

[dev-packages]

[requires]
python_version = "3.8"
