[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

psycopg2-binary = "*"
gunicorn = "*"
flask = "*"
"flask-sqlalchemy" = "*"
"todoist-python" = "*"
"requests" = "*"


[dev-packages]

[requires]
python_version = "3.6"